<!-- <div class="text-layout">

  <h1> {{nombre | titlecase}}</h1>
  <h1> {{valor | number}}</h1>
  <h1> {{obj | json}}</h1>

</div>




<button pButton
        label="botón de muestra"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"
        (click)="mostrarNombre()"
        ></button>



        <p-card header="Titulo">
          Content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, dolorum.
      </p-card> -->

      <app-menu></app-menu>

      <router-outlet></router-outlet>